ext_if="{{ ext_if }}"
ext_ip="{{ ext_ip }}"

sshd_port=22

table <nat_jails> persist file "/etc/pf.table.nat_jails"

scrub in all

# NAT rules
nat pass log on $ext_if from <nat_jails> to any -> $ext_ip

# Includes from jails

pass out quick log on {{ ext_if }} proto { tcp,udp } from {{ ext_ip }} to any port 53
pass out quick log on {{ ext_if }} proto { tcp } from {{ ext_ip }} to any port { 80,443 }

block out log
block in log
