ext_if="{{ ext_if }}"
ext_ip="{{ ext_ip }}"

sshd_port=22

table <nat_jails> persist file "/etc/pf.table.nat-jails"

set block-policy return
scrub in all

###########
# NAT rules
nat pass log on $ext_if from <nat_jails> to any -> $ext_ip

nat-anchor nat-jail
load anchor nat-jail from "/etc/pf.anchor.nat-jail.conf"

###########
# RDR rules

rdr-anchor rdr-jail
load anchor rdr-jail from "/etc/pf.anchor.rdr-jail.conf"

#######
# Rules
block out log all
block in log all

# allow outgoing DNS and HTTP(S) traffic on external interface
pass out quick log on {{ ext_if }} proto { tcp,udp } from {{ ext_ip }} to any port 53
pass out quick log on {{ ext_if }} proto { tcp } from {{ ext_ip }} to any port { 80,443 }

anchor rls-jail
load anchor rls-jail from "/etc/pf.anchor.rls-jail.conf"

