---
- name: Copy jail's pf configuration (rdr rules)
  template:
    src: 'pf.anchor.rdr-jail.conf.j2'
    dest: '/etc/pf.anchor.rdr-jail.{{ jail_name }}.conf'

- name: Add jail's pf configuration to anchor.rdr-jail conf
  lineinfile:
    dest: '/etc/pf.anchor.rdr-jail.conf'
    state: present
    line: 'include \"/etc/pf.anchor.rdr-jail.{{ jail_name }}.conf\"'

- name: Copy jail's pf configuration (rls rules)
  template:
    src: 'pf.anchor.rls-jail.conf.j2'
    dest: '/etc/pf.anchor.rls-jail.{{ jail_name }}.conf'

- name: Add jail's pf configuration to anchor.rls-jail conf
  lineinfile:
    dest: '/etc/pf.anchor.rls-jail.conf'
    state: present
    line: 'include \"/etc/pf.anchor.rls-jail.{{ jail_name }}.conf\"'

- name: Add jail {{ jail_name }} to allowed NAT hosts
  lineinfile:
    dest: '/etc/pf.table.nat-jails'
    insertbefore: EOF
    line: '{{ jail_ip }}'

