# redirect incoming SSH connection to jump host
rdr pass log on {{ ext_if }} proto tcp \
  from any \
  to {{ ext_ip }} port {{ sshd_port }} \
  -> {{ jail_ip }} port {{ sshd_port }}

# redirect incoming SSH connection from jump host to host's internal ip
rdr pass log on {{ int_if }} proto tcp \
  from {{ jail_ip }} \
  to {{ ext_ip }} port {{ sshd_port }} \
  -> {{ int_ip }} port {{ sshd_port }}

